asgiref==3.5.2
awsebcli==3.20.3
boto3==1.24.86
botocore==1.27.86
cement==2.8.2
certifi==2022.9.24
charset-normalizer==2.0.12
colorama==0.4.3
crispy-tailwind==0.5.0
dj-database-url==1.0.0
dj-static==0.0.6
Django==4.1
django-bootstrap-form==3.4
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django-stdimage==6.0.1
django-storages==1.13.1
future==0.16.0
idna==3.4
jmespath==0.10.0
pathspec==0.9.0
Pillow==9.2.0
pypiwin32==223
python-dateutil==2.8.2
python-decouple==3.6
pywin32==304
PyYAML==5.4.1
requests==2.26.0
s3transfer==0.6.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
static3==0.7.0
termcolor==1.1.0
tzdata==2022.2
urllib3==1.26.12
wcwidth==0.1.9
