{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Lista de Jogos {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

{% include 'nav-bar.html' %}

<br>
<center><form method="GET" action=".">
    <div id="divBusca">
        <input type="text" id="txtBusca" name="nome_do_jogo" value="{{ request.GET.nome_do_jogo }}" 
        autocomplete="off" placeholder="Buscar por jogo">
        <button type="submit" id="btnBusca"><i class="fa fa-search" aria-hidden="true"></i></button>
        <a href="{% url 'lista_jogos' %}" class="mysearchclear">Voltar</a>
    </div>
</form></center>

<br>
<center><table class="table-bordered table">
    
    <thead class="mythead">
        <tr>
            <th>Jogo</th>
            <th>Em estoque</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
    </thead>
    <tbody class="mytbody">
        <tr>
            {% for jogo in object_list %}
                {% if user.is_superuser %}
                    <td>{{ jogo.nome_do_jogo }} ({{ jogo.usuario }})</td>
                {% else %}
                    <td>{{ jogo.nome_do_jogo }}</td>
                {% endif %}
                <td><a href="{% url 'imagem' jogo.pk %}" data-toggle="modal" data-target="#exampleModal{{ jogo.pk }}" 
                    class="btn btn-sm btn-success mybtn" title="Clique aqui para ver {{ jogo.nome_do_jogo }}"
                    style="color: #000; font-weight: bold">{{ jogo.estoque }}</a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ jogo.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header mydiv">
                                    {% if user.is_superuser %}
                                        <h5 class="modal-title" id="exampleModalLabel">{{ jogo.nome_do_jogo }} / Criado por: {{ jogo.usuario }}</h5>
                                    {% else %}
                                        <h5 class="modal-title" id="exampleModalLabel">{{ jogo.nome_do_jogo }}</h5>
                                    {% endif %}
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <b title="Fechar" aria-hidden="true">&times;</b></button>
                                </div>
                                <div class="modal-body mydiv">
                                    <img src="{{ jogo.image_url|default_if_none:'/static/imagens/console-com-letras-de-jogos-sinal-de-neon-no-fundo-do-tijolo_1262-11854.webp' }}" 
                                    style="max-width: 300px; border: 0.3rem double #000000;" alt="imagem">
                                </div>
                                <div class="modal-footer mydiv">
                                    <b style="padding-right: 30%; font-size: 110%;">Estilo do Jogo: {{ jogo.estilo_do_jogo }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="{% url 'editar' jogo.pk %}" class="btn btn-warning btn-sm mybtn" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a></td>
                <td><a href="{% url 'deletar' jogo.pk %}" class="btn btn-danger btn-sm mybtn"
                    data-toggle="modal" data-target="#exampleModal1{{ jogo.pk }}" title="Deletar">
                    <i class="fa fa-trash-o" aria-hidden="true"></i></a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1{{ jogo.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header mydiv">
                                    <h5 class="modal-title" id="exampleModalLabel">Deletar {{ jogo.nome_do_jogo }}?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <b title="Fechar" aria-hidden="true">&times;</b></button>
                                </div>
                                <div class="modal-body mydiv">
                                    <form action="{% url 'deletar' jogo.pk %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <img src="{{ jogo.image_url|default_if_none:'/static/imagens/console-com-letras-de-jogos-sinal-de-neon-no-fundo-do-tijolo_1262-11854.webp' }}"
                                        style="max-width: 300px; border: 0.3rem double #000000;" title="{{ jogo.nome_do_jogo }}">
                                </div>
                                <div class="modal-footer mydiv">
                                    <button type="submit" class="btn btn-danger btn-sm mybtn mymodalbutton">Deletar</button>
                                    <a href="{% url 'lista_jogos' %}" class="btn btn-primary btn-sm mybtn mx-2">Voltar</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
        </tr>{% endfor %}
    </tbody>
</table></center>

<br>
<center><a href="{% url 'novo' %}" class="btn btn-primary btn-sm mybtn btn_submit">Novo Jogo
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</a></center>

<br>
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}

        {% if request.GET.nome_do_jogo %}

        <li class="page-item">
            <a class="page-link" href="?page=1&nome_do_jogo={{ request.GET.nome_do_jogo }}">Primeira</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&nome_do_jogo={{ request.GET.nome_do_jogo }}">&laquo;</a>
        </li>
        
        {% else %}
            <li class="page-item">
                <a class="page-link" href='{% url "lista_jogos" %}?page=1'>Primeira</a>
            </li>

            <li class="page-item">
                <a class="page-link mx-1" href="{% url 'lista_jogos' %}?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>

        {% endif %}

    {% endif %}

    <li class="page-item">
        <span class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}

        {% if request.GET.nome_do_jogo %}

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&nome_do_jogo={{ request.GET.nome_do_jogo }}">&raquo;</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&nome_do_jogo={{ request.GET.nome_do_jogo }}">Última</a>
        </li>
        
        {% else %}
        <li class="page-item">
            <a class="page-link mx-1" href="{% url 'lista_jogos' %}?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'lista_jogos' %}?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        </li>

        {% endif %}

    {% endif %}
</ul>

<br>
{% if user.is_superuser %}
    <ul class="pagination justify-content-center">
        {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
            <li class="page-item active mx-1">
                <a href="#" class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item mx-1">
                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul><br>
{% endif %}

{% endblock %}

{% block footer %}
    <br><br><footer class="footer">
        Desenvolvido por Dione Rafael Padilha
    </footer>
{% endblock %}