{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} {{ titulo }} {{ object.nome_do_jogo }} {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-1 rounded-lg my-4">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark text-center">{{ titulo }} {{ object.nome_do_jogo }}</h3>
                    </div>
                    <div class="card-body mybody">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class='form-label-group'>
                                <span class="fa fa-gamepad"></span>
                                {{ form.nome_do_jogo }}
                                <label for="inputUser">Nome do Jogo</label>
                                <font class='mytext'>{{ form.nome_do_jogo.errors }}</font>
                            </div>

                            {{ form.estilo_do_jogo|as_crispy_field }}
                            
                            {{ form.imagem|as_crispy_field }}
                            
                            <button type="submit" class="btn btn-info btn-sm">{{ botao }}</button>
                            <a href="{% url 'lista_jogos' %}" class="btn btn-primary btn-sm mx-3" 
                            style="position:absolute; right:1px;">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}