@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

@media (min-width: 768px){ /* para deixar o site responsivo */
    body{max-width: 100%;};
}

body{
    background-image: url("imagens/papel-de-parede-adesivo-play-game-preto-adesivo-jogos-online.jpg");
    background-attachment: fixed;
    background-origin: padding-box;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.mycardheader{ /* para deixar os itens no card-header na cor definida */
    background-color: #ababab;
}

.mybody{ /* para deixar os itens no card-body na cor definida */
    background-color: #868686;
    color: #000000fa;
    font-weight: bold;
}

.mynav{
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 10px double #000000;
    background: #0deed060;
}

.color{
    color:#000000;
    font-weight: bolder;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
}

.mytable{
    text-align: center;
    color:#000000;
    background-color: #119e9e;
    line-height: 2.5rem;
    border-radius: 4px;
    -moz-border-radius: 4px;
    overflow-x: hidden; /* para ocultar as bordas no eixo x */
    overflow-y: hidden; /* para ocultar as bordas no eixo y */
    width: 100%; /* para deixar a tabela responsiva */
    min-width: 300px; /* para deixar a tabela responsiva */
    max-width: 960px; /* para deixar a tabela responsiva */
    border-collapse: separate ;
    box-shadow: #03fee17d 7px 7px 7px;
}

.table-bordered{
    color:#000000;
}

.myform{
    color: #f8f8f8;
    font-weight: bolder;
}

.mydiv{
    background: #6c6c6c;
}

.theadcolor{
    color:#000000;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    background-color: #0cb2b2;
}

.tbodycolor{
    color:#000000;
    font-weight:900;
    font-family: 'Times New Roman', Times, serif;
    background-color: #108383;
}

.mymodalbutton{
    margin-left: 15px;
    position:absolute;
    left: 1px;
}

.myimg{
    border-radius: 5rem;
    border: #000000 2px solid;
    background: #bfbfbf;
}

.mytext{
    color:#e41010;
}

.text_muted2{
    color:#000000
}