{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Perfil de {{ user.username }}{% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-1 rounded-lg">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark text-center">Editar {{ user.username }}</h3>
                    </div>
                    <div class="card-body mybody">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <center><img src="{{ request.user.perfil.image_url|default_if_none:'/static/imagens/74472.png' }}"
                            class="myimg" height="120px" width="120px"></center>
                            <br>
                            <div class="form-label-group">
                                <span class="fa fa-user"></span>
                                {{ form.username }}
                                <label for="inputUser">Usuário</label>
                            </div>
                            
                            <div class="form-label-group">
                                <span class="fa fa-envelope"></span>
                                {{ form.email }}
                                <label for="inputUser">Email</label>
                            </div>
                            
                            {{ perfil|crispy }}
                            <button type="submit" class="btn btn-success btn-sm">Atualizar</button>
                            <a href="{% url 'lista_jogos' %}" class="btn btn-primary btn-sm mx-3"
                            style="position:absolute; right:1px;">Voltar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}