{% extends 'base.html' %}

{% load static %}

{% block title %} Perfil de {{ user.username }}{% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="form-content my-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg border-1 rounded-lg">
                    <div class="card-header justify-content-center mycardheader">
                        <h3 class="font-weight-dark text-center">Perfil de {{ user.username }}</h3>
                    </div>
                    <div class="card-body mybody">
                        <center><img src="{{ request.user.perfil.image_url|default_if_none:'/static/imagens/74472.png' }}"
                            class="myimg" height="120px" width="120px"></center>
                            <br>
                        <p>Usuario: {{ user.username }}</p>
                        <hr>
                        <p>Email: {{ user.email }}</p>
                        <hr>
                        <a href="{% url 'perfil_edit' %}" class="btn btn-success btn-sm">Editar Perfil</a>
                        <a href="{% url 'lista_jogos' %}" class="btn btn-primary btn-sm mx-3"
                            style="position:absolute; right:1px;">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}